

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    
                    <table class="table">
                        
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        {{#if hasProduct }}
                        
                        <tbody>
                             <form action="/cart-delete-item" method="POST">
						     <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            {{#each products as |p|}}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="/{{p.productId.image}}" alt="{{p.productId.title}}" style="height: 100px;width: 150px; max-height: 100px; max-width: 150px;">
                                        </div>
                                        <div class="media-body">
                                            <p>{{p.productId.title}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>₦{{p.productId.price}}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" maxlength="12" value="{{p.quantity}}" title="Quantity:"
                                            class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                            class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                            class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                    </div>
                                    <div class="card_area d-flex align-items-center">
                                       
                                            <input type="hidden" value="{{p.productId._id}}" name="productId">
                                            <button class="primary-btn" type="submit">Delete</button>
                                        
                                    </div>
                                </td>
                                <td>
                                    <h5>₦{{p.subPrice}}</h5>
                                </td>
                                
                            </tr>
                            {{/each}}
                            
                            
                            
                            
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Total</h5>
                                </td>
                                <td>
                                    <h5>₦{{total}}</h5>
                                </td>
                            </tr>
                            
                            </form>
                        </tbody>
                        
                        
                        {{else}}
                    <h1>No Product in Cart</h1>
                    {{/if}}
                    </table>
                    
                    
                </div>
                <div class="checkout_btn_inner d-flex align-items-center">
                       <a class="gray_btn" href="#">Continue Shopping</a>
                       
                      <a class="primary-btn" href="/check-out">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->

